#np-scheme-wrapper {
    width: 851px;
    height: 500px;
    background: lightgrey;
}

#np-button-wrapper {
    position: relative;
    width: 30px;
    top: -71px;
    right: -5px;
}
  
.np-button {
    padding: 5px;
    width: 30px;
    margin: 0px 0px 2px 0px;
}