{% extends 'base.html' %}
{% load static %}
{% block content %}


    <section class="manual">
        <div class="manual_top">
            <div class="container">
                <div class="manual-title">
                    Руководство по работе
                </div>
            </div>
        </div>
        <div class="container">
            <div class="manual_wrapper">
                <div class="aside_burger">
                    <span></span>
                </div>
                {% include 'manual_left.html' with page=page_number %}
                <div class="manual_body">
                    <div class="manual_body-title">
                        Социальные эффекты
                    </div>
                    <div class="manual_body-block">
                        <div class="manual_body-block_title">
                            Социальные эффекты / воздействие
                        </div>
                        <div class="manual_body-block_text">
                            - те позитивные изменения, которые ожидаются от реализации проекта. Эти изменения
                            проявляются, например, в изменении подходов к воспитанию детей, улучшении здоровья
                            благополучателей, изменении статуса и пр.
                        </div>
                    </div>
                    <p>
                        Определение социальных эффетков - одна из самых сложных задач. В отличие от социальных
                        результатов, соцальные эффекты обычно, отдалены по времени и показывают не только изменения
                        (поведение, восприятия, отношения) у благополучателей, но и те положительные результаты,
                        которые
                        могут произойти как следствие этих изменеий как у благополучателей, так и в обществе в
                        целом.
                    </p>
                    <p>
                        Например, социальным результатом проекта могут быть новые знания, которые получают
                        воспитанники
                        детских домов, а социальный эффект - их последующее трудоустройство, получение работы именно
                        благодаря этим знаниям
                    </p>
                    <p>
                        Другой пример: социальный результат - улучшение детско-родительских отношений воспитанников
                        детских домов и кровных родителей, а социальный эффект - сокращение доли отказов от детей в
                        семьях бывших воспитанников
                    </p>
                    <a data-fancybox="" href="{% static 'images/table3.jpg' %}" class="manual_table">
                        <img src="{% static 'images/table3.jpg' %}" alt="">
                    </a>


                    <div class="manual_img">
                        <img src="{% static 'images/11.png' %}" alt="">
                    </div>
                    <center>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gDky8MwfjcU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </center>
                    <p></p>


                    <div class="manual_tab">
                        <div class="manual_tab-title">
                            Дополнительные материалы
                        </div>
                        <div class="manual_tab-text">
                            <a href="https://pion.org.ru/static/files/sbornik.pdf" target="_blank" class="manual-link-material link">Сборник кейсов по проекту "Общая
                        информационно-технологическая платформа для оценки социальных результатов"</a>
                    <a href="https://www.youtube.com/watch?v=nv0VF4Yn12Y&feature=youtu.be" target="_blank" class="manual-link-material link">Вебинар "Теория изменений для планирования и оценки
                        социальных результатов"</a>
                    <a href="https://ep.org.ru/wp-content/uploads/2015/02/TCD_Print_Theory_Of_Changes_Handbook_145x210_2014_Preview_v02.pdf" target="_blank" class="manual-link-material pdf">Теория изменений: общие рекомендации к применению (из
                        опыта
                        БДФ "Виктория".М.2014</a>
                    <a href="https://ep.org.ru/wp-content/uploads/2015/02/ozenka_soc-economy_effectivnosty.pdf" target="_blank" class="manual-link-material file">Рекомендации по оценке социально-экономической
                        эффективности социальных программ: определение, подходы, практический опыт М.2014</a>
                    <a href="https://ep.org.ru/wp-content/uploads/2016/05/impact-141031050233-conversion-gate01.pdf" target="_blank" class="manual-link-material pdf">Практическое руководство по измерению социального
                        воздействия (A Practical Guide to Measuring and Managing Impact),EVPA,2013</a>
                    <a href="https://socialvalue.ru/wp-content/uploads/2016/05/pokazateli_detstvo_2015.pdf" target="_blank" class="manual-link-material pdf">"Показатели для измерения социальных результатов в
                        сфере
                        детства: российский и международный опыт."М.2015</a>
                    <a href="https://www.youtube.com/watch?v=lCvDXASp7os&feature=youtu.be" target="_blank" class="manual-link-material link">Вебинар на тему "Введение в оценку"</a>
                    <a href="https://socialvalue.ru/?p=1781" target="_blank" class="manual-link-material link">Вебинар на тему "Стоимостные подходы в оценке"</a>
                    <a href="https://socialvalue.ru/?p=1713" target="_blank" class="manual-link-material link">Вебинар на тему "Оценка.Подготовка к проведению"</a>
                        </div>
                    </div>

                    <div class="manual_link-wrapper">
                        <a href="/manual/5/" class="manual_link">
                            предыдущая тема
                        </a>
                        <a href="/manual/7/" class="manual_link">
                            К следующей теме
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </section>



{% endblock content %}