{% extends 'base.html' %}
{% load static %}
{% block content %}


    <section class="manual">
        <div class="manual_top">
            <div class="container">
                <div class="manual-title">
                    Руководство по работе
                </div>
            </div>
        </div>
        <div class="container">
            <div class="manual_wrapper">
                <div class="aside_burger">
                    <span></span>
                </div>
                {% include 'manual_left.html' with page=page_number %}
                <div class="manual_body">
                    <div class="manual_body-title">
                        Ресурсы
                    </div>
                    <p>
                        <span>Ресурсы (Inputs)</span> - все то,что потребуется для реализации проекта.
                    </p>
                    <p>
                        Описание ресурсов позволяет оценить объем затрат,необходимых для достижения запланированных
                        результатов.
                    </p>
                    <div class="manual_body-block">
                        <div class="manual_body-block_title">
                            Ресурсы
                        </div>
                        <div class="manual_body-block_text">

                            Ответ на вопрос "Что потребуется для реализации проекта?"

                        </div>
                    </div>
                    <div class="manual_item">
                        <div class="manual_item-title">
                            В зависимости от проекта,могут быть нужны различные комбинации ресурсов:
                        </div>
                        <div class="manual_item-text">
                            • Человеческие ресурсы - сотрудник, волонтеры и пр.
                        </div>
                        <div class="manual_item-text">
                            • Финансовые ресурсы - денежные средства.
                        </div>
                        <div class="manual_item-text">
                            • Материальные ресурсы - оборудование,продукты питания,помещения и пр.
                        </div>
                        <div class="manual_item-text">
                            • Организационные ресурсы - обеспечения доступа к благополучателям (например,находящимся в
                            закрытых учреждениях и пр.) договоренности о сотрудничестве с партнерами и пр.
                        </div>
                        <div class="manual_item-text">
                            • Информационные ресурсы - сайты, социальные сети, CМИ и пр.
                        </div>
                        <p>
                            Описание ресурсов может включать колличественные показатели - например,для реализации
                            проекта нужно 5 социальных работников.Показатели могут быть и качественными: например,
                            нужны
                            не любые социальные работники,а только те,которые имеют опыт работы с детьми с ОВЗ,или
                            имеют
                            определенную квалификацию и пр.
                        </p>
                        <p>
                            При планировании проекта,как правило,потребуется несколько раз возвращаться к заполнению
                            блока "Ресурсы"
                        </p>
                        <p>
                            На первом этапе вы можете просто перечислить,какие ресурсы нужны.
                        </p>
                        <p>
                            После формулировки ожидаемых результатов и активностей,можно вернуться и уточнить как
                            перечень необходимых ресурсов,так и их показатели (количественные и качественные).
                        </p>
                        <p>
                            Возможно,вам придется снова вернуться к уточнению результатов,если в процессе заполнения
                            вы
                            поймете,что не располагаете достаточными ресурсами для их достижения,лиюо(что безусловно
                            лучше) ваши ресурсы позволяют вам достичь более масштабных результатов.
                        </p>
                    </div>
                    <div class="manual_link-wrapper">
                        <a href="/manual/1/" class="manual_link">
                            предыдущая тема
                        </a>
                        <a href="/manual/3/" class="manual_link">
                            К следующей теме
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </section>



{% endblock content %}