<div class="manual_aside">
                    <a href="/manual/" target="_self" class="manual_aside-link {% if not page_number %}active{% endif %}">
                        Цепочка социальных результатов
                    </a>
                    <a href="/manual/1/" target="_self" class="manual_aside-link {% if page_number == '1' %}active{% endif %}">
                        Целевые группы
                    </a>
                    <a href="/manual/2/" target="_self" class="manual_aside-link {% if page_number == '2' %}active{% endif %}">
                        Ресурсы
                    </a>
                    <a href="/manual/3/" target="_self" class="manual_aside-link {% if page_number == '3' %}active{% endif %}">
                        Деятельность (активности)
                    </a>
                    <a href="/manual/4/" target="_self" class="manual_aside-link {% if page_number == '4' %}active{% endif %}">
                        Непосредственные результаты
                        и показатели
                    </a>
                    <a href="/manual/5/" target="_self" class="manual_aside-link {% if page_number == '5' %}active{% endif %}">
                        Социальные результаты
                        и показатели
                    </a>
                    <a href="/manual/6/" target="_self" class="manual_aside-link {% if page_number == '6' %}active{% endif %}">
                        Социальные эффекты
                    </a>
                    <a href="/manual/7/" target="_self" class="manual_aside-link {% if page_number == '7' %}active{% endif %}">
                        Дополнительные материалы
                    </a>
                </div>
