{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf8">
    <title>Личный кабинет</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts - which you want to use - (rest you can just remove) -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/prettyPhoto.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
    <link rel="stylesheet" href='{% static "css/responsive.css" %}'>
    <script src='{% static "js/vendor/modernizr-2.6.2.min.js" %}'></script>
</head>

<body id="top">
    <header>
        <!-- NAVIGATION -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Навигация</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="navbar-brand page-scroll" href="/">
                        <img width="234" height="40" src='{% static "img/logo-2.png"%}' alt="">
                    </a>
                    <!-- END LOGO -->

                </div>

                <!-- TOGGLE NAV -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <!--
                        <li><a class="page-scroll" href="/">Главная страница</a>
                        </li>
                        <li><a class="page-scroll" href="#description">Описание</a>
                        </li>
                    -->
                        <li><a class="color-black page-scroll" href="/portal/companies-view/">Организации</a>
                        </li>
                        
                        <li><a class="color-black page-scroll" target="_blank" href="/portal/benchmarking_parameters">Бенчмаркинг</a>
                        </li>
                        <!-- <li><a class="color-black page-scroll" href="#contact">Контакты</a> -->
                        <!-- </li> -->
                        <li><a class="color-black page-scroll" target="_blank" href="http://socialvalue.ru">База знаний по оценке</a>
                        </li>

                        {% if not is_authenticated %}
                        <li><a class="library-button" href="https://pion.org.ru/newpion/select-library">Библиотека</a></li><li><a class="login-button" href="https://pion.org.ru/newpion/auth/login">Вход</a>
                        </li>
                        <li><a class="regtr-button" href="https://pion.org.ru/newpion/auth/registration">Регистрация</a>
                        </li>
                        {% else %}
                        <li><a class="create-button" href="/portal/create/">Создать</a>
                        </li>
                        <li><a class="logout-button" href="/accounts/logout/">Выйти</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- TOGGLE NAV -->

            </div>
            <!-- /.container -->
        </nav>
        <!-- END NAVIGATION -->
    </header>

    <!-- MAIN LIST -->

    <section id="main" class="section text-center">
        <div class="container">
            {% if rcapp_archive and not rcapp_archive_all %}
            <!--<h4 class="wow fadeInLeft" data-wow-duration="1s">Архив цепочек результатов</h4>-->
            <h2 class="section-title">{% if allRCs %}Архив программ{% else %}Мои программы{% endif %}</h2>
            <br><br>
            <table class="table table-hover rc-archive">
                <thead>
                    <tr>
                        <th class="rc-name">Название программы</th>
                        <th class="rc-realization-days">Сроки</th>
                        <th class="rc-formation-date">Дата формирования</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rc in rcapp_archive %}

                    <tr class="archive-line" onclick="window.document.location='/portal/{{rc.pk}}'">
                        <td>{{rc.name}}</td>
                        <td>{{rc.terms}}</td>
                        <td>{{rc.formation_date}}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table> {% else %}
            {% if not rcapp_archive_all %}
            <h4 class="wow fadeInLeft" data-wow-duration="1s">У вас нет ни одной цепочки результатов</h4> {% endif %}{% endif %}
            <!--  -->
            {% if rcapp_archive_all %}

            <a href="/portal/user_requests_monitor" class="btn btn-success col-12">Перейти к панели мониторинга</a>
            <a href="/portal/user_requests_list" class="btn btn-success col-12">Перейти к панели администрирования</a>
            <a href="/portal/benchmarking_parameters" class="btn btn-success col-12">Бенчмаркинг</a>
            <br>

            <h2 class="section-title">Все программы</h2>
            <br><br>
            <table class="table table-hover rc-archive">
                <thead>
                    <tr>
                        <th class="rc-name">Название программы</th>
                        <th class="rc-realization-days">Организация</th>
                        <th class="rc-formation-date">Дата формирования</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rc in rcapp_archive_all %}

                    <tr class="archive-line" onclick="window.document.location='/portal/{{rc.pk}}'">
                        <td>{{rc.name}}</td>
                        <td>{{rc.get_company_name}}</td>
                        <td>{{rc.formation_date}}</td>
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
            </table>
            {% endif %}
<!--  -->
        </div>
    </section>
    <!-- END MAIN LIST -->


    <section id="get-trial-slim" class="section text-center">
        <div class="container">
            <h4 class="wow fadeInLeft" data-wow-duration="1s"></h4>

            {% if not is_authenticated %}
            <a class="button get-trial-inv wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" href="/accounts/register/">Зарегистрироваться</a> {% else %}
            <a class="button get-trial-inv wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" href="/portal/create/">Создать цепочку результатов</a>{% endif %}
        </div>
    </section>


    <!-- CONTACT US -->
    <section id="contact" class="section text-center">
        <div class="container">
            <h2 class="section-title">Мы всегда на связи</h2>
            <div class="row">

                <!-- CONTACT FORM -->
                <!-- <div class="col-md-7 col-md-offset-1 text-left wow fadeInLeft" data-wow-duration="1s">
                    <h3>Получите консультацию</h3>
                    <form action="#" method="post" class="contact-form  wow fadeInLeft">
                        <div class="form-group">
                            <input type="text" required class="form-control" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <input type="email" required class="form-control" placeholder="Адрес электронной почты">
                        </div>
                        <div class="form-group">
                            <input type="text" required class="form-control" placeholder="Тема">
                        </div>
                        <div class="form-group">
                            <textarea required class="form-control" rows="5" placeholder="Сообщение"></textarea>
                        </div>
                        <button type="submit" class="pull-left send-button button">Отправить</button>
                    </form>
                </div> -->
                <!-- END CONTACT FORM -->

                <!-- CONTACT INFO -->
                <div class="col-md-12">
                    <div class="contact-info text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <h3>Контакты</h3>
                        {% for contact in contacts %}
                        <p><span><i class="fa {{ contact.logo_name }}"></i></span> {% if contact.link_to != "" %}<a href="{{ contact.link_to }}">{% endif %}{{ contact.text }}{% if contact.link_to != "" %}</a>{% endif %}</p>
                        {% endfor %}
                        <p>{% for link in links %}<span><a href="{{ link.link_to }}"><i class="fa {{ link.logo_name }} fa-2x"></i></a></span>{% endfor %}</p>
                    </div>
                    <div hidden class="business-hours text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
                        <h3>Время работы</h3>
                        <p>Или любая</p>
                        <p>другая</p>
                        <p>информация</p>
                    </div>
                </div>
                <!-- END CONTACT INFO -->

            </div>
        </div>
    </section>
    <!-- END CONTACT US -->

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">

                <!-- FOOTER MENU -->
                <div class="col-md-6">
                    <div class="footer-menu">
                        <ul class="list-inline">
                            <!--
                            <li><a href="#">Home</a>
                            </li>
                            <li><a href="#">About</a>
                            </li>
                            <li><a href="#">Contact</a>
                            </li>
                            <li><a href="#">Portfolio</a>
                            </li>
                            <li><a href="#">Services</a>
                            </li>
                            -->
                            <li><a class="page-scroll" href="#top">Вверх</a>
                            </li>
                            <li><a class="page-scroll" href="/">Главная</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="comment_create" target="_blank">Добавить комментарий</a>
                            </li>
                            <li><a class="page-scroll" href="/materials">Материалы</a>
                            </li>
                            <!--
                            <li><a class="page-scroll" href="#description">Описание</a>
                            </li>
                            <li><a class="page-scroll" href="#contact">Консультация</a>
                            </li>
                            <li><a class="page-scroll" href="#contact">Контакты</a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <!-- END FOOTER MENU -->

                <!-- FOOTER CONTENT -->
                <div class="col-md-6">
                    <div class="footer-content text-right">
                        <p>&copy; АНО «Эволюция и Филантропия», 2021
                        </p>
                        <p>Все права защищены. При использовании ссылка на правообладателя и источник заимствования обязательна
                        </p>
                    </div>
                </div>
                <!-- END FOOTER CONTENT -->

            </div>
            <!-- /.row -->
        </div>
        <!-- ./container -->
    </footer>



    <script src='{% static "js/vendor/jquery-1.10.2.min.js" %}'></script>
    <script src='{% static "js/plugins.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/wow.min.js" %}'></script>
    <script src='{% static "js/prettyPhoto.js" %}'></script>
    <script src='{% static "js/owl.carousel.min.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>
</body>

</html>