{%load static%}{% load fk_filters %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.4,maximum-scale = 1.4" />
    <script src='{% static "js/vendor/jquery-1.10.2.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <title>{{page_title}}</title>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/new_styles.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Arsenal|Open+Sans|Philosopher|Roboto|Tenor+Sans" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top templatemo-nav navbar__background-color_3fa3b1 navbar__no-border" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon icon-bar"></span>
                                <span class="icon icon-bar"></span>
                                <span class="icon icon-bar"></span>
                            </button>
                <a href="" onclick="window.location = '/';" class="navbar-brand navbar-brand__padding-top_10px navbar-brand__color_white"><img src="/static/img/svg/rose.svg" class="rose-"> <span class="rc-name">Пион</span></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-element__color_ffffff navbar-element__weight_bold opacity-1_on_hover" href="http://socialvalue.ru" target="_blank"><span class="navbar-element__on_hover">База знаний об оценке</span></a></li>
                    <li><a class="navbar-element__color_ffffff navbar-element__weight_bold opacity-1" href="/portal/companies-view"><span class="navbar-element__underline">Пользователи</span></a></li>
                    <li><a class="navbar-element__color_ffffff navbar-element__weight_bold opacity-1_on_hover" href="/portal/new_helper/rc"><span class="navbar-element__on_hover">Руководство пользователя</span></a></li>
                    {% if not is_authenticated %}
                    <li><a class="login-button navbar-element__color_ffffff navbar-element__weight_bold opacity-1" href="https://pion.org.ru/newpion/auth/login"><span class="navbar-element__with_border">Вход</span></a></li>
                    <li><a class="register-button navbar-element__color_ffffff navbar-element__weight_bold opacity-1 padding-left-0" href="https://pion.org.ru/newpion/auth/registration"><span class="navbar-element__inverse_with_border">Регистрация</span></a></li>
                    {% else %}
                    <li><a class="login-button navbar-element__color_ffffff navbar-element__weight_bold opacity-1" href="/portal/"><span class="navbar-element__with_border">Мои программы</span></a></li>
                    <li><a class="register-button navbar-element__color_ffffff navbar-element__weight_bold opacity-1 padding-left-0" href="/accounts/logout/"><span class="navbar-element__inverse_with_border">Выйти</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <section class="header">
        <div class="container height-100">
            <div class="row height-100">
                <span class="header_text col-xs-12 height-100">
                    Пользователи
                </span>
            </div>
        </div>
    </section>

    <section class="container margin-top-16 width-100">
        <div class="row">
            <div class="col-md-12 container">
                <div class="row users-headers">
                    <div class="col-md-2 text-right">Логотип</div>
                    <div class="col-md-7">Название организации</div>
                    <div class="col-md-3">Программмы</div>
                </div>
                
                <!-- Add for all companies -->
                {% for company in companies %}
                    {% with rcs_for_company=rchs|with_ref_to_company:company.pk %}
                        <div class="row users-desc">
                            <div class="col-md-2 text-right">
                                {% if company.company_logo %}
                                    <img src="{{company.company_logo.url}}" style="max-width:100%; width:auto; height:auto;text-align:right;"> 
                                {% else %}    
                                    <img src='{% static "img/dummy200.png" %}' style="max-width:100%; width:auto; height:auto;text-align:right;"> 
                                {% endif %}
                            </div>
                            <div class="col-md-7" style="display: table; height: 100%; overflow: hidden;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    {{company}}
                                </div>
                            </div>
                            <div class="col-md-3 container">
                                {% for rch in rchs|with_ref_to_company:company.pk %}
                                <div class="row rch-row">
                                    <div class="col-xs-12">
                                        {{rch.name}}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="col-md-12 rc-footer margin-top-56 ">
        © АНО «Эволюция и Филантропия», 2020 <br>Все права защищены. При использовании ссылка на правообладателя и источник заимствования обязательна
    </section>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter51131078 = new Ya.Metrika2({
                    id:51131078,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51131078" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>